/* LAYOUT */
:root {
	--radius: 9px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #d1d0c5;
}

.fa-solid {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-bar {
  background-color: rgba(49, 49, 49, 0.8);
  width: 100vw;
  display: flex;
  place-content: space-between;
  height: 60px;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
}

.nav-left {
  font-size: 15px;
  margin: auto 0;
  padding-left: 15px;
}

.nav-right li {
  transition: 100ms;
  display: flex;
}

.nav-right li:hover {
  background-color: #505050;
}

.nav-right li a {
  text-decoration: none;
  color: #d1d0c5;
  font-size: 13px;
  padding: 10px;
  margin: auto 0;
}

.content {
  display: flex;
  flex: 1;
  width: 80%;
  height: auto;
  margin: 40px auto 20px auto;
}

.left-bar {
  width: 300px;
}

.left-bar ul {
  list-style-type: none;
}

.left-bar ul li {
  padding: 25px 15px;
  margin: 5px 0;
  border-radius: 9px;
  transition: 100ms;
}

.left-bar ul li:hover {
  background-color: #505050;
}

.left-bar ul li a {
  color: #d1d0c5;
  text-decoration: none;
}

.main-content {
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
}

.content-body {
  width: 100%;
}

.vl {
  border: solid .1px #d1d0c5;
}

.right-bar {
  width: 400px;
  height: 800px;  
  padding: 15px;
  background-color: rgba(44, 44, 44, 0.5);
  border-radius: 9px;
}

.right-bar .header {
	font-size: 25px;
}
/* END LAYOUT */

/* PROJECT PAGE */
.project-header {
	display: flex;
	position: relative;
}

.project-img {
	overflow: hidden;
	width: 100%;
	height: 450px;
	object-fit: cover;
}

.project-img-style {
	position: absolute;
	width: 100%;	
	height: 100%;
	background: linear-gradient(190deg, rgba(0, 0, 0, 0), 55%, rgba(0, 0, 0, 0.8));
}

.project-title {
	position: absolute;
	bottom: 15px;
	margin-left: 25px;
}

.project-body {
	padding: 25px;
}

.project-author::before {
	content: 'By '
}

.project-author {
	margin: auto 0;
	font-size: 15px;
	font-weight: 600; 
}

.project-date {
	margin: auto 0 auto 15px;
	font-weight: 600;
	font-size: 15px;
}

.project-desc {
	padding-top: 20px;
}

.body-header {
	display: flex;
	place-content: space-between;
}

.project-left {
	margin: auto 0;
	display: flex;
}

.project-tag {
	background-color: rgb(192, 192, 192);
	color: black;
	border-radius: 99px;
	padding: 5px 10px;
	font-size: 9px;
	margin-right: 8px;
}

.project-right {
	display: flex;
	/* margin-top: 15px; */
	flex-direction: row-reverse;
}

.project-btn {
	text-decoration: none;
	font-size: 10px;
	color: white;
	background-color: rgb(65, 112, 201);
	padding: 8px;
	margin-left: 10px;
	border-radius: 9px;
}

.project-delete {
	text-decoration: none;
	font-size: 10px;
	color: white;
	background-color: rgb(172, 64, 64);
	padding: 8px;
	margin-left: 10px;
	border-radius: 9px;
}

.project-tags {
	margin-top: 25px;
}

.tags-label {
	font-size: 10px;
}

.tag-container {
	margin-top: 5px;
	display: flex;
}
/* END PROJECT PAGE */

/* LOGIN FORM*/
.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.login-form input[type=text], .login-form input[type=password]{
	width: calc(100% - 10px);
	height: 40px;
	font-size: 32px;
	margin-top: 10px;
	border: 0;
	padding: 5px;
	background-color:rgba(0, 0, 0, 0);
	color: white;
}

.login-form input[type=text]:focus, .login-form input[type=password]:focus {
	outline: none;
}

.login-form input, .login-form button {
	margin-top: 10px;
	border-radius: var(--radius);
}
.login-form input[type=submit]{
	align-items: center;
	background-color: rgb(65, 112, 201);
	border: none;
	color: white;
	padding: 16px 32px;
	/* padding-right: 10px; */
	text-decoration: none;
	width: 50%;
}
.login-form button{
	float:right;
	align-items: center;
	background-color: rgb(172, 64, 64);
	border: none;
	color: white;
	padding: 16px 32px;
	/* padding-right: 10px; */
	text-decoration: none;
	width: 49%;
}

@media only screen and (max-width: 1400px) {
	.login-form .pristine-error .text-help, .login-form #login{
		width: 70vw;
	}
	.login-form input[type=submit]{
		width: 49%;
	}
	.login-form button{
		width: 49%;
	}
}
@media only screen and (max-width: 500px) {
	.login-form .pristine-error .text-help, .login-form #login{
		width: calc(100vw - 10px);
	}
	.login-form input[type=submit]{
		width: 49%;
	}
	.login-form button{
		width: 49%;
	}
}
@media only screen and (min-width: 1400px) {
	.login-form .pristine-error .text-help, .login-form #login {
		width: 50vw;
	}
}
/* END LOGIN FORM*/

/* REGISTRATION FORM*/
#register {
	width: 100%;
}

.form-container {
	margin: 25px;
}

.form-container textarea { resize: none; }
.form-container {
	
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.form-container input[type=text], .form-container input[type=password], .biography {
	width: calc(100% - 12px);
	padding: 5px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

.form-container form select{
	background: #1E1E1E; 
	width: 100%;
	outline: none;
	border: none;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus, .biography:focus, .form-container input[type=select]:focus {
	outline: none;
}

.form-container input[type=text], .form-container input[type=password]{
	height: 40px;
	font-size: 32px;
	border: 0;
}
.form-container input:not([type=checkbox]), .form-container button, .form-container .classes {
	margin-top: 10px;
	border-radius: var(--radius);
}
.form-container select { 
	width: 100%;
	font-size:28px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

.form-container .classes {
	z-index:2;
	border:none;
	width: calc(100% - 5px);
	height:100px;
	overflow-y:scroll;
	margin-top: 10px;
	padding:2px;
}
.form-container .classes label {margin-left: 2px; }
.form-container .classes input {margin-top: 5px;}
.form-container input[type=text], .form-container input[type=password], .form-container p,
.form-container input[type=submit], .form-container select, .form-container button, .biography {
	margin-top: 10px;
	border-radius: var(--radius);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: var(--radius);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.form-container input[type=submit]{
	align-items: center;
	background-color: rgb(65, 112, 201);
	border: none;
	color: white;
	padding: 16px 32px;
	/* padding-right: 10px; */
	text-decoration: none;
	width: 100%;
}

@media only screen and (max-width: 1400px) {
	.form-container .pristine-error .text-help /*,.login-form #login*/ { 
		width: 80vw;
	}
	.form-container input[type=submit]{
		width: 49%;
	}
	.form-container button{
		width: 49%;
	}
}
@media only screen and (max-width: 500px) {
	.form-container .pristine-error .text-help /*,.login-form #login*/{
		width: calc(100vw - 10px);
	}
	.form-container input[type=submit]{
		width: 49%;
	}
	.form-container button{
		width: 49%;
	}
}
@media only screen and (min-width: 1400px) {
	.form-container .pristine-error .text-help /*,.login-form #login*/{
		width: 50vw;
	}
}
/* END REGISTRATION FORM*/

/* PROJECT EXPLORER*/
.exp-toptext {
	/* media query later */
}
.projects-filter {
	width: 100%;
}
.projects-filter input[type=text], .projects-filter select {
	border-radius: var(--radius);
	border: none;
	font-size: 16px;
	margin-top: 3px;
	padding: 3px;
}
.projects-filter form{
	margin:0px; 
	padding:0px; 
	display:inline;
}

.projects-filter input[type=text] {
	width: calc(100% - 7px);
}

.projects-filter select {
	width: 49%;
}
.projects-filter .filter-page {
	width: 49%;
}
.projects-filter .filter-page select{
	width: calc(50% - 1px);
}

.projects-container {
	display: flex;
	flex-direction: column;
	
}

.projects-container .project {
	background-color: rgba(49, 49, 49, 0.8);
	background-image: linear-gradient(-45deg, rgba(255,0,0,0), rgba(255,0,0,0.14)),
	url('/static/banner.png');
	margin-top:10px;
	border-radius: var(--radius);
	padding: 18px 16px;
	height: 10vh;
}
.project img {
	height: inherit;
	border-radius: var(--radius);
}
.project .project-content {
	display: flex;
	width: 77.5%;
	float: right;
	height: inherit;
	flex-direction: column;
}
/*.project-content .project-title {
	position: relative;
	height: 50%;
}
.project-content .project-desc {
	position: relative;
	height: 50%;
}
.v-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}*/

.project-content .project-title-card  {
	display:flex;
	flex-direction: row;
	width: 100%;
	height: 29%;
}
.project-title-card .col-title {
	width: 80%;
}
.project-title-card .col-follow {
	width: 19%;
}
.project-title-card a {
	text-decoration: underline;
	color:white;
}
.col-follow i {
	float: right;
}
.col-follow a {
	text-decoration: none;
	color: #d1d0c5;
}

.project-content .project-desc {
	position: relative;
	height: 70%;
}
.v-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.projects-navigation {
	width: 100%;
}
.projects-navigation button {
	width: 50%;
	align-items: center;
	background-color: #9aa5b1;
	border: none;
	color: white;
	padding: 16px 32px;
	margin-top: 10px;
	text-decoration: none;
	width: 50%;
	border-radius: var(--radius);
}
.projects-navigation .nav-next {
	width: 49%;
	float:right;
}
/* END PROJECT EXPLORER*/