{% extends 'layout.html' %}
{% load static %}

{% block body %}
	<div class="form-container">
		<form action="{% url 'register' %}" novalidate method="post" id="register">
			{% csrf_token %}
			<input type="hidden"/>
			<div class="form-group">
				<label>Username</label>
				<input type="text" name="username" required data-pristine-required-message="Please choose a username">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" name="password" id="pwd"
				required data-pristine-required-message="Please choose a password" 
				data-pristine-pattern= "/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/" 
				data-pristine-pattern-message="Minimum 8 characters, at least one uppercase letter, one lowercase letter and one number">
			</div>
			<div class="form-group">
				<label>Retype password</label>
				<input type="password" data-pristine-equals="#pwd" name="confirmation" 
				data-pristine-equals-message="Passwords don't match" class="form-control" />
			</div>
			<select name="school">
				<option value="alameda">Alameda</option>
				<option value="berkeley">Berkeley</option>
				<option value="laney">Laney</option>
				<option value="meritt">Meritt</option>
			</select>
			<select name="classes">
				<option value="calc">Calculus</option>
				<option value="cs">computer Science</option>
				<option value="chem">Chemistry</option>
				<option value="engl">English</option>
			</select>
			<select name="intrests">
				<option value="programming">Programming</option>
				<option value="applied">Applied Math</option>
				<option value="humanities">Literautre and Humanities</option>
			</select>
			<textarea name="biography" cols="30" rows="10"></textarea>
			<input type="submit" name="submit">
			<a href="#">Forgot login?</a>
		</form>
	</div>
	{% endblock %}