{% extends 'layout.html' %}
{% load static %}

{% block body %}
	<div class="form-container">
		<form action="{% url 'register' %}" novalidate method="post" id="register">
			{% csrf_token %}
			<input type="hidden"/>
			<div class="form-group">
				<!-- <label>Username</label> -->
				<input type="text" name="username" required placeholder="Username.." data-pristine-required-message="Please choose a username">
			</div>
			<div class="form-group">
				<!-- <label>Password</label> -->
				<input type="password" name="password" id="pwd" placeholder="Password.."
				required data-pristine-required-message="Please choose a password" 
				data-pristine-pattern= "/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/" 
				data-pristine-pattern-message="Minimum 8 characters, at least one uppercase letter, one lowercase letter and one number">
			</div>
			<div class="form-group">
				<!-- <label>Retype password</label> -->
				<input type="password" data-pristine-equals="#pwd" name="confirmation" placeholder="Password again.."
				data-pristine-equals-message="Passwords don't match" class="form-control" />
			</div>
			<select name="school" required>
				<option value="none" selected disabled hidden>Select your school</option>
				<option value="alameda">Alameda</option>
				<option value="berkeley">Berkeley</option>
				<option value="laney">Laney</option>
				<option value="meritt">Meritt</option>
			</select>
			<!--select name="classes">
				<option value="calc">Calculus</option>
				<option value="cs">Computer Science</option>
				<option value="chem">Chemistry</option>
				<option value="engl">English</option>
			</select-->
			<p>Select all the classes you are taking.</p>
			<div class="classes"> <!-- iterate here -->
				<input type="checkbox" id="CALC" /><label for="cb1">Calculus</label><br>
				<input type="checkbox" id="CS" /><label for="cb1">Computer Science</label><br>
				<input type="checkbox" id="CHEM" /><label for="cb1">Chemistry</label><br>
				<input type="checkbox" id="ENGL" /><label for="cb1">English</label><br>
			</div>
			
			<!--select name="intrests">
				<option value="programming">Programming</option>
				<option value="applied">Applied Math</option>
				<option value="humanities">Literautre and Humanities</option>
			</select-->
			<p>Write about yourself! (;DROP ALL DATABASES;)</p>
			<textarea name="biography" class="biography" rows="10"></textarea>
			<input type="submit" name="submit">
			<button type="button" onclick="location.href='#';">Forgot login?</button>
		</form>
	</div>
	{% endblock %}